@use "../variables" as *;
@use "../media" as *;

.order {
  padding-bottom: 60px;

    @include tablet {
      padding-bottom: 100px;
    }

  &__container {
    padding: 0;

      @include tablet {
        padding: 0 29px;
      }

      @include laptop {
        padding: 0 149px;
      }

      @include bigscreen {
        padding: 0 304px;
      }
  }

  &__container-content {
    display: flex;
    flex-direction: column;
    border: 1px solid $light_grey;
    border-radius: 16px;
    padding: 14px 16px 24px 16px;
    // margin-bottom: 60px;
  
    
      @include tablet {
        padding: 60px 151px;
        // margin-bottom: 80px;
      }

      @include laptop {
        padding: 60px 159px;
      }

      @include bigscreen {
        padding: 60px 212px;
      }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
      }
  }

  &__block-title {
    font-size: 16px;
    font-weight: 400;

      @include tablet {
        font-size: 20px;
      }
  }

  &__block-price {
    font-size: 16px;
    font-weight: 400;

      @include tablet {
        font-size: 20px;
      }
  }

  &__number {
    display: inline-block;
    border-radius: 32px;
    padding: 4px 8px;
    background: $light_grey;
    margin-bottom: 20px;
    width: max-content;

      @include tablet {
        margin-bottom: 24px;
      }
  }

  &__describe {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
  }

  &__table {
    width: 100%;
    margin-bottom: 24px;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light_grey;
  }

  &__table-item {
    color: $grey;
    padding: 8px 0;

    &:last-child {
      color: $dark;
      text-align: right;
    }
  }

  &__button {
    text-align: center;
    border: 1px solid #0044f0;
    border-radius: 32px;
    background-color: $blue;
    color: $light;
    padding: 12px 24px;
    width: 100%;
    transition: border, background-color, color .3s ease-in-out;
    outline: none;

    &:hover {
      background-color: $blue_medium;
    }

    &:focus-visible {
      border: 1px solid $blue_dark;
    }
  }
}


